<div class="container ptb-70">
  <div class="row m-0">
    <div class="
        col-lg-6 col-xl-7
        d-flex
        flex-column
        justify-content-center
        p-2 p-sm-5
      ">
      <h2 class="mb-4">{{ "WHY_APRIL" | translate }}</h2>
      <p>{{ "WHY_DETAILS" | translate }}</p>
      <ul class="">
        <li class="ms-3 mb-3">{{ "WHY_ONE" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_TWO" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_THREE" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_FOUR" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_FIVE" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_SIX" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_SEVEN" | translate }}</li>
        <li class="ms-3 mb-3">{{ "WHY_HEIGHT" | translate }}</li>
      </ul>
    </div>
    <div class="
        col-lg-6 col-xl-5
        p-5
        d-none d-lg-flex
        justify-content-center
        align-items-center
      ">
      <img ixImg [alt]="language.get() == 'fr' ? 'Valeurs' : 'Values'" path="career/rejoindre-april.jpg"
        sizes="100vw" />
    </div>
  </div>
</div>