<section *ngIf="activeSection">

    <app-exclusion-popup></app-exclusion-popup>
    <h1 class="section-title">
        <span class="section-number">{{ activeSection.index + 1 }}</span>
        {{ language.get() == "fr" ? activeSection.title.LabelFr : activeSection.title.LabelEn }}
    </h1>

    <app-stepper [sections]="formSections" [activeSection]="activeSection" [errors]="errors" [progress]="progress">
    </app-stepper>
    <ng-content></ng-content>

    <div *ngIf="activeSection.isRepeat" class="isRepeat-button">
        <button type="button"
            class="button-action-simple-small button-blue btn btn-sm d-flex align-items-center text-button-simple mr-2"
            (click)="addGroupSection()">
            <span class="text-button">Add a new {{activeSection.title.LabelEn}}</span>
        </button>
    </div>
</section>