<section *ngIf="activeSection">
    <app-stepper [sections]="formSections" [activeSection]="activeSection" [errors]="errors" [progress]="progress"></app-stepper>
    <h1>{{ activeSection.title.LabelFr }}</h1>
    <ng-content></ng-content>

    <div *ngIf="activeSection.isRepeat" class="isRepeat-button">
        <button type="button"
            class="button-action-simple-small button-blue btn btn-sm d-flex align-items-center text-button-simple mr-2"
            (click)="addGroupSection()">
            <span class="text-button">Add a new {{activeSection.title.LabelEn}}</span>
        </button>
    </div>

    <div class="section-buttons">
        <!-- PREVIOUS -->
        <button type="button" *ngIf="!activeSection.isFirst" class="btn-april" (click)="setActiveSection(-1)">
            Previous
        </button>

        <!-- NEXT -->
        <button type="button" *ngIf="!activeSection.isLast" class="btn-april" (click)="setActiveSection(1)">
            Next
        </button>

        <!-- SUBMIT -->
    </div>
</section>