<div class="container pb-100" id="contactForm" #contact>
  <div class="row">
    <div
      class="col-md-6 pb-4"
      [ngClass]="router.url === '/contact' ? 'contact' : ''"
    >
      <div
        class="half-circle d-flex text-center justify-content-center align-items-center"
      >
        <h2 class="px-5">{{ "FOR_ANY_QUESTION" | translate }}</h2>
      </div>
    </div>
    <div
      class="col-md-6 d-none d-md-flex justify-content-center align-items-center ps-5"
    >
      <p class="contact-accroche">{{ "COMMUNICATE_WITH_US" | translate }}</p>
    </div>
  </div>
  <div class="contact-form my-5 py-4 px-1 ps-2 ps-sm-5">
    <div class="d-flex align-items-center">
      <img
        src="../../../../assets/img/icons/title-bar.svg"
        class="d-none d-sm-block pt-2 pe-2 title-bar"
        alt="title bar"
      />
      <h3 class="mb-0 ps-5 ps-sm-2 pb-2">{{ "CONTACT_FORM" | translate }}</h3>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row px-5 pt-2">
        <div class="col-md-6 pb-3">
          <input
            type="text"
            class="form-control grey-input no-border"
            formControlName="firstName"
            [placeholder]="language.get() == 'fr' ? 'Prénom' : 'First Name'"
          />
        </div>
        <div class="col-md-6 pb-3">
          <input
            type="text"
            class="form-control grey-input no-border"
            formControlName="lastName"
            [placeholder]="
              language.get() == 'fr' ? 'Nom de famille' : 'Last Name'
            "
          />
        </div>
        <div class="col-md-6 pb-3">
          <input
            type="text"
            class="form-control grey-input no-border"
            formControlName="email"
            [placeholder]="language.get() == 'fr' ? 'Courriel' : 'Email'"
          />
          <span
            *ngIf="
              !contactForm.get('email')?.valid &&
              contactForm.get('email')?.touched
            "
            class=""
            >**{{ "INVALID_EMAIL" | translate }}</span
          >
        </div>
        <div class="col-md-6 pb-3">
          <input
            type="text"
            class="form-control grey-input no-border"
            formControlName="phone"
            [placeholder]="
              language.get() == 'fr' ? 'Téléphone' : 'Phone Number'
            "
            mask="(000) 000-0000"
          />
        </div>
        <div class="col-md-6 pb-3">
          <ngx-bootstrap-multiselect
            class="form-control p-0 no-border"
            [options]="this.language.get() == 'fr' ? provFr : provEn"
            formControlName="province"
            [texts]="textProv"
            [settings]="settings"
          ></ngx-bootstrap-multiselect>
        </div>
        <div class="col-md-6 pb-3">
          <ngx-bootstrap-multiselect
            class="form-control p-0 no-border"
            [options]="this.language.get() == 'fr' ? langFr : langEn"
            formControlName="language"
            [texts]="this.language.get() == 'fr' ? textFr : textEn"
            [settings]="settings"
          ></ngx-bootstrap-multiselect>
        </div>
        <div class="col-12 pb-3">
          <textarea
            rows="5"
            class="form-control grey-input no-border"
            formControlName="reason"
            [placeholder]="
              language.get() == 'fr'
                ? 'Décrire la réclamation...'
                : 'Please describe the claim...'
            "
          ></textarea>
        </div>
        <div class="col-12 d-flex">
          <div
            class="ms-auto"
            *ngIf="!contactForm.valid && contactForm.touched"
            class=""
          >
            **{{ "REQUIRED_FIELDS" | translate }}
          </div>
        </div>
      </div>

      <div
        class="px-5 pt-3 mb-4 d-block d-sm-flex justify-content-between align-items-center"
      >
        <div>
          <input
            type="checkbox"
            formControlName="newsLetter"
            id="checkbox-contact-form"
          />
          <label for="checkbox-contact-form">{{
            "SUSCRIBE_CHECKBOX" | translate
          }}</label>
        </div>
        <button
          *ngIf="contactForm.get('newsLetter')?.value == true"
          [disabled]="!contactForm.valid || !contactForm.dirty"
          class="btn-april mt-3"
          (click)="openModal(confirmContact)"
          data-analytics="ContactFormNewsLetter"
        >
          {{ "SEND" | translate }}
        </button>
        <button
          *ngIf="contactForm.get('newsLetter')?.value != true"
          [disabled]="!contactForm.valid || !contactForm.dirty"
          class="btn-april mt-3"
          (click)="openModal(confirmContact)"
          data-analytics="ContactForm"
        >
          {{ "SEND" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<ng-template #confirmContact let-modal>
  <div class="modal-header d-flex justify-content-center align-items-center">
    <h2 class="modal-title m-0">{{ "THANK_YOU" | translate }}</h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true"
        ><img
          class="icon"
          src="../../../../../assets/img/icons/close.svg"
          alt=""
      /></span>
    </button>
  </div>
  <div class="modal-body">
    <p class="m-2 mx-3">{{ "CONTACT_FORM_DETAILS" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-april btn-april-white" (click)="close()">
      {{ "CLOSE" | translate }}
    </button>
  </div>
</ng-template>
