<label>{{ language.get() == "fr" ? question.title.LabelFr: question.title.LabelEn }}</label>
<div class="container">
    <mat-chip-list>
        <app-chip [selected]="control.value === 'true'" (click)="select('true')">
            {{ 'YES' | translate | uppercase }}
        </app-chip>
        <app-chip [selected]="control.value === 'false'" (click)="select('false')">
            {{ 'NO' | translate | uppercase }}
        </app-chip>
    </mat-chip-list>
    <input type="hidden" [ngrxFormControlState]="control" />
    <app-exclusion-popup [error]="error"></app-exclusion-popup>
</div>