<div class="home-hero pt-200 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pe-lg-5 py-5 d-flex d-lg-block justify-content-center">
        <img ixImg alt="sticker" (load)="loader.loading(false)" path="services/services-hero.png" sizes="80vw" />
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center ps-4 ps-lg-5 pb-5">
        <h1>{{ "SLOGAN" | translate }}</h1>
        <p class="w-80 my-5" style="font-size: 20px">
          {{ "SERVICE_DETAILS" | translate }}
        </p>
        <button class="btn-april btn-april-white d-block" click-text="Devenir partenaire" data-analytics="ServicesCTA">
          <a href="https://april-on.ca/partner" target="_blank" ref="noreferrer noopener">
            {{ "BECOME_PARTNER" | translate }}
          </a>
        </button>
      </div>
    </div>
  </div>
</div>