<div class="form-group">
  <label for="{{control.id}}">{{ language.get() == "fr" ? question.title.LabelFr: question.title.LabelEn }}</label>
  <input [type]="inputType" class="form-control text-form" autocomplete="disabled" [ngrxFormControlState]="control" id="{{control.id}}"
    [mask]="question.mask" [placeholder]="question.mask" [ngClass]="{'error-border':error &&
    (control.isDirty || control.isTouched || control.isSubmitted)}">
  <app-exclusion-popup [error]="error"></app-exclusion-popup>
</div>