<label for="{{control?.id}}">{{ language.get() == "fr" ? question.title.LabelFr: question.title.LabelEn }}</label>
<mat-form-field appearance="fill" [ngClass]="{'error-border':error &&
(control.isDirty || control.isTouched || control.isSubmitted)}">
    <input id="{{control?.id}}" matInput [matDatepicker]="picker" [ngrxFormControlState]="control"
        [ngrxValueConverter]="dateValueConverter" placeholder="{{ 'DATE_PICKER' | translate }}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<app-exclusion-popup [error]="error"></app-exclusion-popup>
