.direct-hero {
  background: #f7aa36;
  color: #ffffff;
}

.btn-april-full-orange {
  border: 1px solid var(--whiteColor);

  &:hover {
    color: var(--orange);
    background-color: var(--whiteColor);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
  }
}
.btn-april-orange {
  border: 1px solid var(--whiteColor);

  &:hover {
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
  }
}

@media only screen and (max-width: 991px) {
  .p-nav {
    padding-top: 50px;
  }
}

h4::after {
  content: " (1)";
  color: var(--whiteColor);
  font-size: 10px;
}

strong {
  font-weight: 700;
}

@media only screen and (max-width: 576px) {
  .h4 {
    font-size: 22px !important;
  }
  .h1 {
    font-size: 30px !important;
  }

  .pb-100 {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 400px) {
  .h1 {
    font-size: 30px !important;
  }
}
