<div class="row m-0">
  <div class="col-lg-6 p-5">
    <div class="
        px-xl-5
        py-5
        mx-xxl-5
        d-flex
        flex-column
        justify-content-center
        align-items-center
        h-100
      ">
      <h2 class="mb-5">{{ "SNAP" | translate }}</h2>
      <p>{{ "SNAP_DETAILS" | translate }}</p>
    </div>
  </div>
  <div class="col-lg-6 position-relative mb-5 pb-5">
    <div class="carousel-wrapper" #owlParent>
      <owl-carousel-o [options]="snapOptions">
        <ng-container *ngFor="let snap of snaps">
          <ng-template carouselSlide>
            <div class="text-center slide center">
              <div class="text-white snap">
                {{ this.language.get() == "fr" ? snap.fr : snap.en }}
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="d-flex justify-content-center align-items-center my-0 my-sm-5">
      <div class="px-xxl-5 mx-xl-5 d-block bubble-position">
        <img src="../../../../../assets/img/services/orange-bubble.png" alt="" />
      </div>
    </div>
  </div>
</div>