<!-- Start User Area -->
<section class="interface-style pb-100 pt-200">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-container">
                <div class="row">
                    <div class="col">
                        <a routerLink="/interface/brokers/details/{{broker?.id}}" class="btn btn-secondary px-3">{{ 'BACK' | translate}}</a>
                    </div>
                </div>

                <!-- Formulaires -->
                <div class="form-action my-5">
                    <form [formGroup]="brokerForm" (ngSubmit)="onSubmit()" *ngIf="brokerForm">
                        <div class="form-title">
                            <h2>{{ 'CREATE_BROKER_FORM' | translate}}</h2>
                        </div>

                        <!-- SECTION INTRO -->
                        <div class="section-wrapper" >
                            <h3>{{"BROKER_INFORMATION" | translate}}</h3> 
                            <div class="form-group"> 
                                <label>{{ 'IS_ACTIVE' | translate}}:</label>
                                <div class="btn-group-toggle" ngbRadioGroup formControlName="isActive" ngDefaultControl>
                                    <label  ngbButtonLabel class="btn-primary px-4"  [ngClass]="broker.isActive == 'isActive' && !brokerForm.get('isActive')?.dirty ? 'active': '' ">
                                        <input  ngbButton type="radio"  value="isActive">{{ 'YES' | translate}}
                                    </label>
                                    <label ngbButtonLabel class="btn-primary px-4 ms-5" [ngClass]="broker.isActive == 'notActive' && !brokerForm.get('isActive')?.dirty ? 'active': '' ">
                                        <input ngbButton type="radio" value="notActive"> {{ 'NO' | translate}}
                                    </label>
                                    <div class="form-group">
                                        <label>Firebase ID:</label>
                                        <input class="form-control" type="text" formControlName="id" [value]="broker.id" > 
                                        <span *ngIf="!brokerForm.get('id')?.valid && brokerForm.get('id')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>{{'BROKER_NAME' | translate}}:</label>
                                        <input class="form-control" type="text" formControlName="name" [value]="broker.name" > 
                                        <span *ngIf="!brokerForm.get('name')?.valid && brokerForm.get('name')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Market ID:</label>
                                        <input class="form-control" type="text" formControlName="marketId" [value]="broker.marketId" > 
                                        <span *ngIf="!brokerForm.get('marketId')?.valid && brokerForm.get('marketId')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>APRIL ON ID:</label>
                                        <input class="form-control" type="text" formControlName="aprilonId" [value]="broker.aprilonId" > 
                                        <span *ngIf="!brokerForm.get('aprilonId')?.valid && brokerForm.get('aprilonId')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input class="form-control" type="text" formControlName="email" [value]="broker.email" > 
                                        <span *ngIf="!brokerForm.get('email')?.valid && brokerForm.get('email')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input class="form-control" type="text" formControlName="phone" [value]="broker.phone" > 
                                        <span *ngIf="!brokerForm.get('phone')?.valid && brokerForm.get('phone')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Logo:</label>
                                        <input class="form-control" type="text" formControlName="logo" [value]="broker.logo" > 
                                        <span *ngIf="!brokerForm.get('logo')?.valid && brokerForm.get('logo')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <ng-container formArrayName="openingHours" *ngIf="openingHours">
                                        <ng-container *ngFor="let hours of openingHours?.controls; let i = index">
                                            <h6>{{i}}</h6>
                                            <div [formGroup]="hours" class="position-relative">
                                                <div class="form-group">
                                                    <label>Label Fr:</label>
                                                    <input class="form-control" type="text" formControlName="labelFr" [value]="broker?.openingHours[i].labelFr"> 
                                                </div>
                                                <div class="form-group">
                                                    <label>Label En:</label>
                                                    <input class="form-control" type="text" formControlName="labelEn" [value]="broker?.openingHours[i].labelEn"> 
                                                </div>
                                                <span (click)="removeHours(i)" class="text-danger pointer close-btn">&#x2715;</span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    <div (click)="addHours()" class="add-btn">Add</div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- SECTION CONTENT -->
                        <div class="section-wrapper"  [formGroup]="brokerForm.controls.content" *ngIf="brokerForm.controls.content">
                            <h3>{{ 'CONTENT' | translate}}</h3>
                            <h5 class="mt-4">USP:</h5>
                        
                                <ng-container formArrayName="USP" >
                                    <ng-container *ngFor="let usp of USP.controls; let i = index">
                                        <h6>{{i}}</h6>
                                        <div [formGroup]="usp" class="position-relative">
                                            <div class="form-group">
                                                <label>Label Fr:</label>
                                                <input class="form-control" type="text" formControlName="labelFr" [value]="broker.content.USP[i].labelFr"> 
                                            </div>
                                            <div class="form-group">
                                                <label>Label En:</label>
                                                <input class="form-control" type="text" formControlName="labelEn" [value]="broker.content.USP[i].labelEn"> 
                                            </div>
                                            <!-- <span (click)="deleteUSP(i)" class="text-danger pointer close-btn">&#x2715;</span> -->
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <!-- <div (click)="addUSP()" class="add-btn">Add</div> -->
                         
                            <div formGroupName="headline" >
                                <h5 class="mt-4">Headline:</h5>
                                <div class="form-group">
                                    <label>Label Fr:</label>
                                    <input class="form-control" type="text" formControlName="labelFr" [value]="broker.content.headline.labelFr"> 
                                </div>
                                <div class="form-group">
                                    <label>Label En:</label>
                                    <input class="form-control" type="text" formControlName="labelEn" [value]="broker.content.headline.labelEn"> 
                                </div>
                            </div>
                            
                       
                        </div>

                        <!-- SECTION EN -->
                        <!-- <div class="section-wrapper"   formGroupName="en">
                            <h3>{{ 'ENGLISH' | translate}}</h3>
                            <div class="form-group">
                                <label>{{ 'JOB_TITLE' | translate}}:</label>
                                <input class="form-control" type="text" formControlName="title" [value]="broker.en.title"> 
                                <span *ngIf="!brokerForm.get('en.title')?.valid && brokerForm.get('en.title')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                            
                            </div>
                            <div class="form-group">
                                <label>{{ 'PICTURE' | translate}} alt:</label>
                                <input class="form-control" type="text" formControlName="pictureAlt" [value]="broker.en.pictureAlt" > 
                            </div>
                            <div class="form-group">
                                <label>{{ 'CITY' | translate}}:</label>
                                <input class="form-control" type="text" formControlName="city" [value]="broker.en.city"> 
                                <span *ngIf="!brokerForm.get('en.city')?.valid && brokerForm.get('en.city')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>
                            </div>
                            <h5 class="mt-4">{{'APRIL_DESCRIPTION' | translate }}</h5>
                            <div formGroupName="aprilDesc">
                                <div class="form-group">
                                    <label>{{ 'TITLE' | translate}}:</label>
                                    <input class="form-control" type="text" formControlName="title" [value]="broker.en.aprilDesc.title"> 
                                    
                                </div>

                                <div class="form-group">
                                    <label>{{ 'DESCRIPTION' | translate}}: </label>
                                    <textarea class="form-control" formControlName="desc"  rows="4" cols="50" [value]="broker.en.aprilDesc.desc"></textarea>
                                </div>
                            </div>
                            <h5 class="mt-4">{{'JOB_SUMMARY' | translate }}</h5>
                            <div formGroupName="brokerSummary">
                                <div class="form-group">
                                    <label>{{ 'TITLE' | translate}}:</label>
                                    <input class="form-control" type="text" formControlName="title" [value]="broker.en.brokerSummary.title"> 
                                </div>

                                <div class="form-group">
                                    <label>{{ 'DESCRIPTION' | translate}}: </label>
                                    <textarea class="form-control" formControlName="desc"  rows="4" cols="50" [value]="broker.en.brokerSummary.desc"></textarea>
                                </div>
                            </div>
                            <h5 class="mt-4">{{'REQUIREMENT' | translate }}</h5>
                            <div formGroupName="requirement">
                                <div class="form-group">
                                    <label>{{ 'TITLE' | translate}}:</label>
                                    <input class="form-control" type="text" formControlName="title" [value]="broker.en.requirement.title"> 
                                </div>

                                <div class="form-group">
                                    <label>{{ 'DESCRIPTION' | translate}}: </label>
                                    <textarea class="form-control" formControlName="desc"  rows="4" cols="50" [value]="broker.en.requirement.desc"></textarea>
                                </div>
                            </div>
                            <h5 class="mt-4">{{'SKILLS' | translate }}</h5>
                            <div formGroupName="skills">
                                <div class="form-group">
                                    <label>{{ 'TITLE' | translate}}:</label>
                                    <input class="form-control" type="text" formControlName="title" [value]="broker.en.skills.title"> 
                                </div>

                                <div class="form-group">
                                    <label>{{ 'DESCRIPTION' | translate}}: </label>
                                    <textarea class="form-control" formControlName="desc"  rows="4" cols="50" [value]="broker.en.skills.desc"></textarea>
                                </div>
                            </div>
                            <h5 class="mt-4">{{'APRIL_ADVANTAGES' | translate }}</h5>
                            <div formGroupName="aprilAdvantages">
                                <div class="form-group">
                                    <label>{{ 'TITLE' | translate}}:</label>
                                    <input class="form-control" type="text" formControlName="title" [value]="broker.en.aprilAdvantages.title"> 
                                </div>

                                <div class="form-group">
                                    <label>{{ 'DESCRIPTION' | translate}}: </label>
                                    <textarea class="form-control" formControlName="desc"  rows="4" cols="50" [value]="broker.en.aprilAdvantages.desc"></textarea>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- Buttons -->
                        <div class="row align-items-center mt-5 mb-3">
                            <div class="col-lg-6 col-sm-6">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button style="min-width: 150px"class="default-btn register float-end" type="submit"data-toggle="modal" data-target="#successMessage">{{ 'SAVE' | translate}}</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User Area -->