<!-- Start User Area -->
<section class="interface-style pb-100 pt-200">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-container">
                <div class="row">
                    <div class="col">
                        <a routerLink="/interface/brokers/details/{{broker?.id}}" class="btn btn-secondary px-3">{{ 'BACK' | translate}}</a>
                    </div>
                </div>

                <!-- Formulaires -->
                <div class="form-action my-5">
                    <form [formGroup]="brokerForm" (ngSubmit)="onSubmit()" *ngIf="brokerForm">
                        <div class="form-title">
                            <h2>{{ 'CREATE_BROKER_FORM' | translate}}</h2>
                        </div>

                        <!-- SECTION INTRO -->
                        <div class="section-wrapper" >
                            <h3>{{"BROKER_INFORMATION" | translate}}</h3> 
                            <div class="form-group"> 
                                <label>{{ 'IS_ACTIVE' | translate}}:</label>
                                <div class="btn-group-toggle" ngbRadioGroup formControlName="isActive" ngDefaultControl>
                                    <label  ngbButtonLabel class="btn-primary px-4"  [ngClass]="broker?.isActive == 'isActive' && !brokerForm.get('isActive')?.dirty ? 'active': '' ">
                                        <input  ngbButton type="radio"  value="isActive">{{ 'YES' | translate}}
                                    </label>
                                    <label ngbButtonLabel class="btn-primary px-4 ms-5" [ngClass]="broker?.isActive == 'notActive' && !brokerForm.get('isActive')?.dirty ? 'active': '' ">
                                        <input ngbButton type="radio" value="notActive"> {{ 'NO' | translate}}
                                    </label>
                                    <div class="form-group">
                                        <label>Firebase ID:</label>
                                        <input class="form-control" type="text" formControlName="id" [value]="broker?.id" > 
                                        <span *ngIf="!brokerForm.get('id')?.valid && brokerForm.get('id')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>{{'BROKER_NAME' | translate}}:</label>
                                        <input class="form-control" type="text" formControlName="name" [value]="broker?.name" > 
                                        <span *ngIf="!brokerForm.get('name')?.valid && brokerForm.get('name')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Market ID:</label>
                                        <input class="form-control" type="text" formControlName="marketId" [value]="broker?.marketId" > 
                                        <span *ngIf="!brokerForm.get('marketId')?.valid && brokerForm.get('marketId')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>APRIL ON ID:</label>
                                        <input class="form-control" type="text" formControlName="aprilonId" [value]="broker?.aprilonId" > 
                                        <span *ngIf="!brokerForm.get('aprilonId')?.valid && brokerForm.get('aprilonId')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Default Language:</label>
                                        <input class="form-control" type="text" formControlName="defaultLang" [value]="broker?.defaultLang" > 
                                        <span *ngIf="!brokerForm.get('defaultLang')?.valid && brokerForm.get('defaultLang')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input class="form-control" type="text" formControlName="email" [value]="broker?.email" > 
                                        <span *ngIf="!brokerForm.get('email')?.valid && brokerForm.get('email')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input class="form-control" type="text" formControlName="phone" [value]="broker?.phone" > 
                                        <span *ngIf="!brokerForm.get('phone')?.valid && brokerForm.get('phone')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Link:</label>
                                        <input class="form-control" type="text" formControlName="link" [value]="broker?.link" > 
                                        <span *ngIf="!brokerForm.get('link')?.valid && brokerForm.get('link')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Logo:</label>
                                        <input class="form-control" type="text" formControlName="logo" [value]="broker?.logo" > 
                                        <span *ngIf="!brokerForm.get('logo')?.valid && brokerForm.get('logo')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <div class="form-group">
                                        <label>Qualified Leads redirection:</label>
                                        <input class="form-control" type="text" formControlName="redirectURL" [value]="broker?.redirectURL" > 
                                        <span *ngIf="!brokerForm.get('redirectURL')?.valid && brokerForm.get('redirectURL')?.touched" class="help-block text-danger">{{ 'REQUIRED_FIELD' | translate}}</span>                             
                                    </div>
                                    <h5>{{"OPENING_HOURS" | translate}}</h5>
                                    <ng-container formArrayName="openingHours" *ngIf="openingHours">
                                        <ng-container *ngFor="let hours of openingHours?.controls; let i = index">
                                            <h6>{{i}}</h6>
                                            <div [formGroup]="hours" class="position-relative">
                                                <div class="form-group">
                                                    <label>Label Fr:</label>
                                                    <input class="form-control" type="text" formControlName="labelFr" [value]="broker?.openingHours ? broker?.openingHours[i]?.labelFr : ''"> 
                                                </div>
                                                <div class="form-group">
                                                    <label>Label En:</label>
                                                    <input class="form-control" type="text" formControlName="labelEn" [value]="broker?.openingHours ?broker?.openingHours[i]?.labelEn : ''"> 
                                                </div>
                                                <span (click)="removeHours(i)" class="text-danger pointer close-btn">&#x2715;</span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                    <div (click)="addHours()" class="add-btn">Add</div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- SECTION CONTENT -->
                        <div class="section-wrapper"  [formGroup]="brokerForm.controls.content" *ngIf="brokerForm.controls.content">
                            <h3>{{ 'CONTENT' | translate}}</h3>
                            <h5 class="mt-4">USP:</h5>
                        
                                <ng-container formArrayName="USP" >
                                    <ng-container *ngFor="let usp of USP.controls; let i = index">
                                        <h6>{{i}}</h6>
                                        <div [formGroup]="usp" class="position-relative">
                                            <div class="form-group">
                                                <label>Label Fr:</label>
                                                <input class="form-control" type="text" formControlName="labelFr" [value]="broker?.content?.USP[i].labelFr"> 
                                            </div>
                                            <div class="form-group">
                                                <label>Label En:</label>
                                                <input class="form-control" type="text" formControlName="labelEn" [value]="broker?.content?.USP[i].labelEn"> 
                                            </div>
                                            <!-- <span (click)="deleteUSP(i)" class="text-danger pointer close-btn">&#x2715;</span> -->
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <!-- <div (click)="addUSP()" class="add-btn">Add</div> -->
                         
                            <div formGroupName="headline" >
                                <h5 class="mt-4">Headline:</h5>
                                <div class="form-group">
                                    <label>Label Fr:</label>
                                    <input class="form-control" type="text" formControlName="labelFr" [value]="broker?.content?.headline.labelFr"> 
                                </div>
                                <div class="form-group">
                                    <label>Label En:</label>
                                    <input class="form-control" type="text" formControlName="labelEn" [value]="broker?.content?.headline.labelEn"> 
                                </div>
                            </div>
                            <div formGroupName="subTitle" >
                                <h5 class="mt-4">{{'SUBTITLE' | translate}}</h5>
                                <div class="form-group">
                                    <label>Label Fr:</label>
                                    <input class="form-control" type="text" formControlName="labelFr" [value]="broker?.content?.subTitle?.labelFr"> 
                                </div>
                                <div class="form-group">
                                    <label>Label En:</label>
                                    <input class="form-control" type="text" formControlName="labelEn" [value]="broker?.content?.subTitle?.labelEn"> 
                                </div>
                            </div>
                            
                       
                        </div>

                        <!-- SECTION Styles -->
                        <div class="section-wrapper"   [formGroup]="brokerForm.controls.styles">
                            <h3>Styles</h3>
                             <!-- Buttons -->
                            <h4>{{"BUTTONS" | translate}}</h4>
                            <ng-container [formGroup]="brokerForm.controls.styles?.controls.buttons">
                                <ng-container [formGroup]="brokerForm.controls.styles.controls.buttons.controls.nav">
                                    <h5>Nav:</h5>
                                    <div class="form-group">
                                        <label>Background-color:</label>
                                        <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.buttons.nav[background-color]">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Border:</label>
                                        <input class="form-control" type="text" formControlName="border" [value]="broker?.styles?.buttons.nav.border">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Border-radius:</label>
                                        <input class="form-control" type="text" formControlName="border-radius" [value]="broker?.styles?.buttons.nav[border-radius]">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Color:</label>
                                        <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.buttons.nav.color">                            
                                    </div>
                                </ng-container>
                                <ng-container [formGroup]="brokerForm.controls.styles?.controls.buttons.controls.outlined">
                                    <h5>Outlined:</h5>
                                    <div class="form-group">
                                        <label>Background-color:</label>
                                        <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.buttons.outlined[background-color]">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Border:</label>
                                        <input class="form-control" type="text" formControlName="border" [value]="broker?.styles?.buttons.outlined.border">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Color:</label>
                                        <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.buttons.outlined.color">                            
                                    </div>
                                </ng-container>
                                <ng-container [formGroup]="brokerForm.controls.styles?.controls.buttons.controls.phone">
                                    <h5>Phone:</h5>
                                    <div class="form-group">
                                        <label>Background-color:</label>
                                        <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.buttons.phone[background-color]">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Color:</label>
                                        <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.buttons.phone.color">                            
                                    </div>
                                </ng-container>
                            </ng-container>
                             <!-- Chips -->
                            <h4>Chips</h4>
                            <ng-container [formGroup]="brokerForm.controls.styles?.controls.chips">
                                <div class="form-group">
                                    <label>Background-color:</label>
                                    <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.chips[background-color]">                            
                                </div>
                                <div class="form-group">
                                    <label>Border:</label>
                                    <input class="form-control" type="text" formControlName="border" [value]="broker?.styles?.chips.border">                            
                                </div>
                                <div class="form-group">
                                    <label>Color:</label>
                                    <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.chips.color">                            
                                </div>
                            </ng-container>
                          
                             <!-- Hero -->
                            <h4>Hero</h4>
                            <ng-container [formGroup]="brokerForm.controls.styles?.controls.hero">
                                <div class="form-group">
                                    <label>Alignement:</label>
                                    <input class="form-control" type="text" formControlName="alignment" [value]="broker?.styles?.hero.alignment">                            
                                </div>
                                <div class="form-group">
                                    <label>Background-color:</label>
                                    <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.hero[background-color]">                            
                                </div>
                                <div class="form-group">
                                    <label>Color:</label>
                                    <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.hero.color">                            
                                </div>
                                <div class="form-group">
                                    <label>Font-family:</label>
                                    <input class="form-control" type="text" formControlName="font-family" [value]="broker?.styles?.hero[font-family]">                            
                                </div>
                                <div class="form-group">
                                    <label>Image:</label>
                                    <input class="form-control" type="text" formControlName="image" [value]="broker?.styles?.hero.image">                            
                                </div>
                                <div class="form-group">
                                    <label>Size:</label>
                                    <input class="form-control" type="text" formControlName="size" [value]="broker?.styles?.hero.size">                            
                                </div>
                                <ng-container [formGroup]="brokerForm.controls.styles?.controls.hero.controls.eligibilityLink"> 
                                    <h5>Eligibility Link</h5>
                                    <div class="form-group">
                                        <label>Color:</label>
                                        <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.hero.eligibilityLink.color">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Font-family:</label>
                                        <input class="form-control" type="text" formControlName="font-family" [value]="broker?.styles?.hero.eligibilityLink[font-family]">                            
                                    </div>
                                </ng-container>
                                <ng-container [formGroup]="brokerForm.controls.styles?.controls.hero.controls.subTitle"> 
                                    <h5>{{'SUBTITLE' | translate}}</h5>
                                    
                                    <div class="form-group">
                                        <label>Font-family:</label>
                                        <input class="form-control" type="text" formControlName="font-family" [value]="broker?.styles?.hero.subTitle[font-family]">                            
                                    </div>
                                    <div class="form-group">
                                        <label>Size:</label>
                                        <input class="form-control" type="text" formControlName="size" [value]="broker?.styles?.hero.subTitle?.size">                            
                                    </div>
                                </ng-container>
                            </ng-container>

                             <!-- Prime -->
                             <h4>Prime</h4>
                             <ng-container [formGroup]="brokerForm.controls.styles?.controls.prime">
                                
                                 <div class="form-group">
                                     <label>Background-color:</label>
                                     <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.prime[background-color]">                            
                                 </div>
                                 <div class="form-group">
                                     <label>Color:</label>
                                     <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.prime.color">                            
                                 </div>
                                 <ng-container [formGroup]="brokerForm.controls.styles?.controls.prime.controls.header"> 
                                     <h5>Header</h5>
                                     <div class="form-group">
                                         <label>Color:</label>
                                         <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.prime.header.color">                            
                                     </div>
                                 </ng-container>
                                 <ng-container [formGroup]="brokerForm.controls.styles?.controls.prime.controls.highlightedText"> 
                                     <h5>Highlighted Text</h5>
                                     <div class="form-group">
                                         <label>Color:</label>
                                         <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.prime.highlightedText.color">                            
                                     </div>
                                 </ng-container>
                                 <ng-container [formGroup]="brokerForm.controls.styles?.controls.prime.controls.text"> 
                                     <h5>Text</h5>
                                     <div class="form-group">
                                         <label>Color:</label>
                                         <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.prime.text.color">                            
                                     </div>
                                 </ng-container>
                             </ng-container>

                             <h4>shared</h4>
                             <ng-container [formGroup]="brokerForm.controls.styles?.controls.shared">
                                 <ng-container [formGroup]="brokerForm.controls.styles?.controls.shared.controls.sectionHeaders"> 
                                     <h5>Section Headers</h5>
                                     <div class="form-group">
                                         <label>Color:</label>
                                         <input class="form-control" type="text" formControlName="color" [value]="broker?.styles?.shared.sectionHeaders.color">                            
                                     </div>
                                 </ng-container>
                                 <ng-container [formGroup]="brokerForm.controls.styles?.controls.shared.controls.stepper"> 
                                     <h5>Stepper</h5>
                                     <div class="form-group">
                                         <label>Background-color:</label>
                                         <input class="form-control" type="text" formControlName="background-color" [value]="broker?.styles?.shared.stepper['background-color']">                            
                                     </div>
                                     <div class="form-group">
                                         <label>Border:</label>
                                         <input class="form-control" type="text" formControlName="border" [value]="broker?.styles?.shared.stepper.border">                            
                                     </div>
                                 </ng-container>
                             </ng-container>
                            
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row align-items-center mt-5 mb-3">
                            <div class="col-lg-6 col-sm-6">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button style="min-width: 150px"class="default-btn register float-end" type="submit"data-toggle="modal" data-target="#successMessage">{{ 'SAVE' | translate}}</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User Area -->