<div class="my-3">
    <div class="background-stepper">
        <div class="progress"></div>
        <div class="points">
            <div class="point d-flex align-items-center flex-wrap point-valid" *ngFor="let section of sections; let i = index;"
                [ngClass]="{'point-active': section.id == activeSection.id }">
                <span class="point-label text-smoll flex-wrap" (click)="setActiveSection(section.id, i)">
                    <small>{{ language.get() == "fr" ? section.title.LabelFr: section.title.LabelEn
                        }}</small>
                </span>
            </div>
        </div>
    </div>
</div>