@media (max-width: 581px) {
    .point-label {
        font-size: 0.8rem !important;
        font-weight: 300 !important;
    }
    .point-prime {
        transform: translateX(-75%);
    }

    .point-prime {
        font-size: 0.8rem !important;
        font-weight: 300 !important;
    
    }

}

.stepper {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.background-stepper {
    height: 2px;
    background-color: #efefef;
    opacity: 100%;
    border-radius: 90px;
    position: relative;
}

.point {
    height: 20px;
    width: 20px;
    border-radius: 90px;
    background-color: #cdcdcd;
    opacity: 100%;
}

.point-label {
    width: auto;
    height: auto;
    position: relative;
    margin-top: -50px;
    max-width: 100px;
    color: #cdcdcd;
}

.point-label-first {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: start;
}

.point-label-last {
    position: absolute;
    top: 0px;
    text-align: end;
    right: 0px;
    cursor: default !important;
}

-middle {
    right: 200%;
}

.point-active {
    height: 20px;
    width: 20px;
    background-color: #004161;
    border: 4px solid #004161;
    opacity: 100%;
}

.point-label-active {
    color: #004161;
}

.point-valid {
    cursor: pointer;
}

.progress {
    background-color: #295266;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 10;
    opacity: 0.55;
    max-width: 100%;
}

.points {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 15;
    justify-content: space-between;
    align-items: center;
}

.point-prime {
    color: orange;
    max-width: 100px;
    margin-top: -50px;
    opacity: 80%;
}

.point-label-prime {
    width: auto;
    height: auto;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: orange;
    border: 4px solid orange;
    opacity: 80%;
    font-weight: 300 !important;
}

small {
    font-weight: 300 !important;
}