<div class="d-flex flex-column justify-content-around">
    <span class="text-title">{{ 'UPLOAD_DOCUMENT' | translate }}</span>
    <span class="text-subtitle mt-2" *ngIf="hasOptions">{{ 'CHOOSE_FILE_TYPE' | translate }}</span>

    <div class="d-flex flex-column mt-3" appFileDragDrop (onFileDropped)="filesChanged($event)">
        <div class="d-flex">
            <input hidden [multiple]="multipleFiles" type="file" #fileInput (change)="filesChanged($event.target.files)"
                accept="text/rtf, image/png, .jpeg, .jpg, .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/plain, application/pdf">
            <div class="d-flex bg-transparent align-items-center justify-content-between">
                <button class="btn-april"
                    (click)="fileInput.click()" type="button">{{ 'BROWSE' | translate }}</button>
                <div class="ms-3">{{ 'DROP_FILES' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column mt-4" *ngIf="files.length > 0">
        <div class="d-flex align-items-end">
            <div class="d-flex flex-column me-3 select-file-type" *ngIf="hasOptions">
                <span class="text-smoll  mb-2">{{ 'FILE_TYPE' | translate }}</span>
            </div>
            <div class="d-flex flex-column flex-grow-1 me-3 file-name">
                <span class="text-smoll  mb-2">{{ 'FILE_NAME' | translate }}</span>
            </div>
        </div>
        <div *ngFor="let file of files; let i = index" class="mb-2">
            <div class="d-flex align-items-end">
                <div class="d-flex flex-column me-3 select-file-type" *ngIf="hasOptions">
                    <div class="input-group">
                        <mat-select class="form-control text-form" #select [disabled]="progress[file]"
                            placeholder="{{ 'CHOOSE_FILE_TYPE' | translate }}" [id]="'select_' + i">
                            <mat-option *ngFor="let type of types; let index = index" [value]="index">
                                {{ language.get() == "fr" ? type.LabelFr : type.LabelEn }}
                            </mat-option>
                        </mat-select>
                        <input class="form-control text-form" maxlength="25" placeholder="{{ 'SPECIFY' | translate }}"
                            *ngIf="select.value == types.length - 1" #input [id]="'input_' + i">
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1 me-3 file-name">
                    <div class="input-group">
                        <input class="form-control text-form" disabled [value]="file">
                    </div>
                </div>
                <button (click)="remove(file)"
                    class="button-action-simple  align-self-center button-red btn btn-sm ms-2 text-button-simple d-flex justify-content-center align-items-center"
                    *ngIf="!progress[file] && files.length > 1">
                    <span>{{ 'REMOVE' | translate }}</span>
                </button>
                <div class="d-flex file-status align-items-center align-self-stretch">
                    <span color="warn" *ngIf="progress[file] && progress[file].error" style="font-size: 10px;"
                        class="ms-3">{{ progress[file]?.message | translate }}</span>
                    <mat-icon color="primary"
                        *ngIf="progress[file] && !progress[file].error && progress[file].completed" class="ms-3">
                        check_circle_outline</mat-icon>
                    <mat-icon color="warn" *ngIf="progress[file] && progress[file].error" class="ms-3">highlight_off
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end p-3">
        <button class="btn button-back text-center text-button" type="button" (click)="close()">
            <mat-icon style="width:16px; height:16px; font-size:16px; margin-right:5px; vertical-align:middle">
                arrow_back</mat-icon>
            <span class="text-center align-middle">{{ 'BACK' | translate }}</span>
        </button>
        <button
            class="button-continue-small align-self-center btn btn-sm ms-2 mb-2 text-button-simple d-flex justify-content-center align-items-center"
            (click)="uploadFiles()" [disabled]="!isValid()" type="button"
            *ngIf="!uploadedAll && !loading && files.length > 0">
            <span *ngIf="!loading" class="text-center align-middle">{{ 'UPLOAD' | translate }}</span>
        </button>

        <app-loader-inline></app-loader-inline>
        <button
            class="button-continue-small align-self-center btn btn-sm me-2 mb-2 text-button-simple d-flex justify-content-center align-items-center"
            (click)="apply()" type="button" *ngIf="uploadedAll || files.length == 0">
            <span class="text-center align-middle">{{ 'CONTINUE' | translate }}</span>
        </button>
    </div>
</div>