#div-modal{
    position: relative;
}
#btn-close{
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}
// @media only screen and (max-width: 767px) {
//     #btn-close{
//         right: 22%;
//     }
// }
// @media only screen and (max-width: 574px) {
//     #btn-close{
//         right: 25%;
//     }
// }
// @media only screen and (max-width: 474px) {
//     #btn-close{
//         right: 17%;
//     }
// }
// @media only screen and (max-width: 374px) {
//     #btn-close{
//         right: 10%;
//     }
// }
// @media only screen and (max-width: 274px) {
//     #btn-close{
//         right: 5%;
//     }
// }