.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #fff;

    &>span {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: 1px solid var(--mainColor);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: var(--mainColor);
        font-weight: 500;
        align-self: flex-start;
        cursor: pointer;
    }

    .logo {
        max-width: 150px;
    }
}

@media (min-width:581px) {
    .logo {
        max-width: 250px;
    }
}