<div *ngIf="broker.name === 'April'" class="container pb-3" id="Meet">
  <div class="cta-wrapper p-5">
    <div class="d-flex flex-column justify-content-center align-items-center text-center">
      <p class="mb-3">{{ "CONTACT_US" | translate }}</p>
      <h3 class="mb-3">{{ "NEED_SUPPORT" | translate }}</h3>
      <p class="mb-3">
        {{ "EXPERTS_AVAILABLE" | translate }}
      </p>

      <a class="btn-april btn-april-orange my-3" click-text="Rencontrez-nous" data-analytics="DirectCTA"
        onclick="Calendly.initPopupWidget({url: 'https:/\/calendly.com/april-construction'});return false;">{{
        "TALK_TO_EXPERT" | translate }}</a>
    </div>
  </div>
</div>