<!-- <div class="container mt-0 mt-sm-5 mb-5 py-lg-5 d-flex justify-content-center flex-column">
  <div *ngIf="broker.name === 'April'" class="row">
    <div class="mt-2 mb-5 text-center">
      <h3>{{ "SUBSCRIBE_CONSTRUCTION_EASY" | translate }}</h3>
      <p innerHTML="{{ 'PRECIOUS_TIME' | translate }}"></p>
    </div>
  </div>

  <div class="mx-md-5">
    <div class="row d-flex justify-content-center">
      <div *ngIf="broker.name === 'April'" class="col-lg-4 order-2 order-lg-1">
        <app-cards [price]="page.get(id).price"></app-cards>
      </div>
      <div class="col-lg-8 p-0 order-1 order-lg-2" id="Form">
        <app-flash-widget
          *ngIf="
            id !== 'contracteurs' &&
            id !== 'alashop' &&
            id !== 'contractors' &&
            id !== 'assurance-entrepreneurs-construction' &&
            id !== 'responsabilite-civile-entrepreneurs-construction'
          "
        ></app-flash-widget>
        <app-form></app-form>
        <app-direct-cta class="d-block d-sm-none"></app-direct-cta>
      </div>
    </div>
  </div>
</div> -->
