.steps-wrapper {
  border-radius: 8px;
  background-color: var(--orange);
}

.bullet {
  padding-top: 2px;
  height: 25px;
  width: 25px !important;
  color: var(--whiteColor);
  background-color: var(--mainColor);
  border-radius: 50%;
  border-bottom-right-radius: 0;
  text-align: center;
  align-self: top !important;
  flex-shrink: 0 !important;
}

h3 {
  font-size: 36px !important;
}

h3,
h5,
p {
  color: var(--whiteColor);
}

img {
  max-width: 100%;
  height: auto !important;
}
