<div *ngIf="marketId">
  <div class="wrapper" [ngClass]="{'loading-wrapper': (formValid$ | async) && (formSubmitted$ | async)}">
    <app-direct-nav></app-direct-nav>
    <app-direct-hero [id]="marketId"></app-direct-hero>
    <app-flash-quote [id]="marketId"></app-flash-quote>

    <app-steps [id]="marketId"></app-steps>
    <app-extensions></app-extensions>
    <app-direct-cta class="d-none d-sm-block"></app-direct-cta>
    <app-exclusion></app-exclusion>
    <app-new-footer></app-new-footer>
  </div>

  <app-loader *ngIf="(formValid$ | async) && (formSubmitted$ | async)"></app-loader>
</div>