:host {
    grid-column: full-start / full-end;
}

.hero {
    position: relative;
    display: grid;
    grid-template-columns:
        [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    align-items: center;
    background-color: var(--mainColor);
    border-bottom-left-radius: 0px;
    overflow: visible;

    & .header {
        grid-row: 3;
        grid-column: 1 / 12;
        padding: 1rem;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 5rem;

        & h1 {
            color: #fff;
            font-size: 2.2rem !important;
            text-transform: uppercase;
        }

        span {
            display: block;
            color: yellow;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    & .slider {
        grid-row: 2;
        grid-column: 1 / 12;
    }

    & img {
        grid-row: 1;
        grid-column: 1 / 12;
        width: 100%;
        min-height: auto;
    }
}

@media(min-width: 581px) {
    .hero {
        //border-bottom-left-radius: 100px;
        overflow: hidden;

        & .header {
            grid-column: 1 / 6;
            grid-row: 1 / -1;

        }

        & img {
            grid-column: 6 / full-end;
            justify-self: end;
            align-self: start;
            width: auto;
            max-height: 100%;
        }
    }
}

@media(min-width: 981px) {
    .hero {
        & .header {
            grid-column: 3 / 6;
            grid-row: 1 / -1;

            h1 {
                font-size: 2.8rem !important;
            }
        }

    }
}

@media(min-width: 1500px) {
    .hero {
        & .header {
            grid-column: 3 / 6;
            grid-row: 1 / -1;

            h1 {
                font-size: 3.5rem !important;
            }
        }
    }
}

