<!-- Start User Area -->
<section class="interface-style pb-100  pt-200">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-container">
                <div class="row">
                    <div class="col">
                        <a routerLink="/interface/articles/details/{{id}}" class="btn btn-secondary px-3">{{ 'BACK' | translate}}</a>
                    </div>
                </div>

                <!-- Formulaires -->
                <div class="form-action my-5">
                    <form   [formGroup]="articleForm" (ngSubmit)="onSubmit()">
                        <div class="form-title">
                            <h2>{{ 'CREATE_ARTICLE_FORM' | translate}}</h2>
                        </div>

                        <!-- SECTION INTRO -->
                        <div class="section-wrapper" >
                            <h3>Introduction</h3> 
                            <div class="form-group"> 
                                <label>{{ 'IS_ACTIVE' | translate}}:</label>
                                <div class="btn-group-toggle" ngbRadioGroup formControlName="isActive" >
                                    <label  ngbButtonLabel class="btn-primary px-4" [ngClass]="article.isActive == 'isActive' && !articleForm.get('isActive')?.dirty ? 'active': '' ">
                                        <input  ngbButton type="radio" formControlName="isActive" value="isActive">{{ 'YES' | translate}}
                                    </label>
                                    <label ngbButtonLabel class="btn-primary px-4 ms-5" [ngClass]="article.isActive == 'notActive' && !articleForm.get('isActive')?.dirty ? 'active': '' ">
                                        <input ngbButton type="radio" formControlName="isActive" value="notActive"> {{ 'NO' | translate}}
                                    </label>
                                </div>
                                <label>{{ 'IS_FEATURED' | translate}}:</label>
                                <div class="btn-group-toggle" ngbRadioGroup  formControlName="isFeatured">
                                    <label  ngbButtonLabel class="btn-primary px-4"  [ngClass]="article.isFeatured == 'isFeatured' && !articleForm.get('isFeatured')?.dirty ? 'active': '' ">
                                        <input  ngbButton type="radio" formControlName="isFeatured"  value="isFeatured">{{ 'YES' | translate}}
                                    </label>
                                    <label ngbButtonLabel class="btn-primary px-4 ms-5" [ngClass]="article.isFeatured == 'notFeatured' && !articleForm.get('isFeatured')?.dirty ? 'active': '' ">
                                        <input ngbButton type="radio" formControlName="isFeatured" value="notFeatured"> {{ 'NO' | translate}}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>{{ 'MAIN_IMG' | translate}}:</label>
                                <input class="form-control" type="text" formControlName="mainImg" [value]="article.mainImg"> 
                            </div>
                            <div class="form-group">
                                <label>{{ 'SMALL_IMG' | translate}}:</label>
                                <input class="form-control" type="text" formControlName="smallImg" [value]="article.smallImg" > 
                            </div>
                            <div class="form-group">
                                <label>{{ 'DATE' | translate}}</label>
                                <div class="input-group col-md-6 p-0">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                    formControlName="date" name="dp" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img src="../../../../../../assets/img/icons/calendar.png"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <ngx-bootstrap-multiselect [options]="tags" formControlName="tags" [(ngModel)]="this.article.tags" ></ngx-bootstrap-multiselect>
                            </div>
                        </div>
                        <!-- SECTION FR -->
                        <div class="section-wrapper"  formGroupName="fr">
                            <h3>{{ 'FRENCH' | translate}}</h3>
                            <div class="form-group">
                                <label>{{ 'TITLE' | translate}}:</label>
                                <input class="form-control" type="text" formControlName="title" > 
                            </div>
                            <div class="form-group">
                                <label>{{ 'BRIEF' | translate}}:</label>
                                <textarea class="form-control" type="text" formControlName="brief" ></textarea>
                            </div>
                            <div class="form-group">
                                <label>{{ 'MAIN_IMG' | translate}} alt:</label>
                                <input class="form-control" type="text" formControlName="mainImgAlt" [value]="article.fr.mainImgAlt"> 
                            </div>
                            <div class="form-group">
                                <label>{{ 'SMALL_IMG' | translate}} alt:</label>
                                <input class="form-control" type="text" formControlName="smallImgAlt" [value]="article.fr.smallImgAlt" > 
                            </div>
                            <div formGroupName="paragraphs">
                                <div *ngFor="let p of paragraphsFormArrayFr; let i = index">
                                    <h5>Section {{ p.get("order")?.value }}</h5>
                                    <div class="form-group">
                                        <label>{{ 'ORDER' | translate}}:</label>
                                        <input class="form-control" type="number" formControlName="order" > 
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'TITLE' | translate}}:</label>
                                        <input class="form-control" type="text" formControlName="title"> 
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'DESCRIPTION' | translate}}:</label>
                                        <textarea class="form-control" type="text" formControlName="desc" ></textarea>
                                    </div>
                                </div>
                                <button type="button" class="default-btn register mb-3" (click)="addParagraphFr()">{{ 'ADD_PARAGRAPH' | translate}}</button>
                            </div>
                        </div>

                        <!-- SECTION EN -->
                        <div class="section-wrapper" formGroupName="en" >
                            <h3>{{ 'ENGLISH' | translate}}</h3>
                            <div class="form-group">
                                <label>{{ 'TITLE' | translate}}:</label>
                                <input class="form-control" type="text" formControlName="title" [value]="article.en.title" > 
                            </div>
                            <div class="form-group">
                                <label>{{ 'BRIEF' | translate}}:</label>
                                <textarea class="form-control" type="text" formControlName="brief" [value]="article.en.brief"></textarea>
                            </div>
                            <div class="form-group">
                                <label>{{ 'MAIN_IMG' | translate}} alt:</label>
                                <input class="form-control" type="text" formControlName="mainImgAlt" [value]="article.en.mainImgAlt"> 
                            </div>
                            <div class="form-group">
                                <label>{{ 'SMALL_IMG' | translate}} alt:</label>
                                <input class="form-control" type="text" formControlName="smallImgAlt" [value]="article.en.smallImgAlt" > 
                            </div>
                            <div  formGroupName="paragraphs">
                                <div *ngFor="let p of paragraphsFormArrayEn">
                                    <h5>Section {{ p.get("order")?.value  }}</h5>
                                    <div class="form-group">
                                        <label>{{ 'ORDER' | translate}}:</label>
                                        <input class="form-control" type="number" formControlName="order"> 
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'TITLE' | translate}}:</label>
                                        <input class="form-control" type="text" formControlName="title"  > 
                                    </div>
                                    <div class="form-group">
                                        <label>{{ 'DESCRIPTION' | translate}}:</label>
                                        <textarea class="form-control" type="text" formControlName="desc"></textarea>
                                    </div>
                                </div>
                                <button type="button" class="default-btn register mb-3"(click)="addParagraphEn()">{{ 'ADD_PARAGRAPH' | translate}}</button>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="row align-items-center mt-5 mb-3">
                            <div class="col-lg-6 col-sm-6">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <button style="min-width: 150px"class="default-btn register float-end" type="submit"data-toggle="modal" data-target="#successMessage">{{ 'SAVE' | translate}}</button>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User Area -->