<div class="routable-modal p-2 p-sm-5">
  <div class="modal-header d-block w-100">
    <h2 class="modal-title m-0 text-center">
      {{ "TERMS_CONDITIONS" | translate }}
    </h2>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true"
        ><img
          class="icon"
          src="../../../../../assets/img/icons/close.svg"
          alt=""
      /></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="py-4 px-2 px-sm-5">
      <h2>{{ "TERMS_USE" | translate }}</h2>
      <p>
        {{ "TERMS_USE_DETAILS" | translate }}
      </p>
      <p>
        <strong>{{ "PLEASE_READ" | translate }}</strong>
      </p>
      <p>
        {{ "PLEASE_READ_DETAILS" | translate }}
      </p>
      <p>
        <strong>{{ "PLEASE_READ_DETAILS_2" | translate }}</strong>
        {{ "PLEASE_READ_DETAILS_3" | translate }}
      </p>
      <h3>{{ "PROPERTY_RIGHTS" | translate }}</h3>
      <p>{{ "PROPERTY_RIGHTS_DETAILS" | translate }}</p>
      <h3>{{ "UNLAWFUL" | translate }}</h3>
      <p>
        {{ "UNLAWFUL_DETAILS" | translate }}
      </p>
      <h3>{{ "USE_SITE" | translate }}</h3>
      <p>
        {{ "USE_SITE_DETAILS" | translate }}
      </p>
      <ul>
        <li>
          {{ "USE_1" | translate }}
        </li>
        <li>
          {{ "USE_2" | translate }}
        </li>
        <li>
          {{ "USE_3" | translate }}
        </li>
        <li>
          {{ "USE_4" | translate }}
        </li>
        <li>
          {{ "USE_5" | translate }}
        </li>
        <li>
          {{ "USE_6" | translate }}
        </li>
        <li>
          {{ "USE_7" | translate }}
        </li>
        <li>
          {{ "USE_8" | translate }}
        </li>
        <li>
          {{ "USE_9" | translate }}
        </li>
        <li>
          {{ "USE_10" | translate }}
        </li>
        <li>
          {{ "USE_11" | translate }}
        </li>
        <li>{{ "USE_12" | translate }}</li>
      </ul>
      <p>
        {{ "USE_SITE_DETAILS_2" | translate }}
      </p>
      <p>
        {{ "USE_SITE_DETAILS_3" | translate }}
      </p>
      <p>
        {{ "USE_SITE_DETAILS_4" | translate }}
      </p>
      <p>
        {{ "USE_SITE_DETAILS_5" | translate }}
      </p>
      <h3>{{ "MATERIAL" | translate }}</h3>
      <p>
        {{ "MATERIAL_DETAILS" | translate }}
      </p>
      <p>
        {{ "MATERIAL_DETAILS_2" | translate }}
      </p>
      <p>
        {{ "MATERIAL_DETAILS_3" | translate }}
      </p>
      <h3>{{ "LIABILITY" | translate }}</h3>
      <p>
        <strong>{{ "LIABILITY_DETAILS" | translate }}</strong>
      </p>
      <p>
        <strong>{{ "LIABILITY_DETAILS_2" | translate }}</strong>
      </p>
      <p>
        <strong>{{ "LIABILITY_DETAILS_3" | translate }}</strong>
      </p>
      <h3>{{ "THIRD_PARTY" | translate }}</h3>
      <p>
        {{ "THIRD_PARTY_DETAILS" | translate }}
      </p>
      <h3>{{ "TERMINATION" | translate }}</h3>
      <p>
        {{ "TERMINATION_DETAILS" | translate }}
      </p>

      <h3>{{ "PRIVACY_POLICY" | translate }}</h3>
      <p>
        {{ "PRIVACY_DETAILS" | translate }}
      </p>
      <p>
        <strong>{{ "OUTLINE" | translate }}</strong>
      </p>
      <h4>{{ "INFORMATION_COLLECTED" | translate }}</h4>
      <p>
        {{ "INFORMATION_COLLECTED_1" | translate }}
      </p>
      <p>
        {{ "INFORMATION_COLLECTED_2" | translate }}
      </p>
      <p>
        {{ "INFORMATION_COLLECTED_3" | translate }}
      </p>
      <h4 id="cookies">{{ "WHY_COLLECT" | translate }}</h4>
      <p>
        {{ "WHY_COLLECT_2" | translate }}
      </p>
      <p>
        {{ "WHY_COLLECT_3" | translate }}
      </p>
      <h4>{{ "COOKIES" | translate }}</h4>
      <p>
        {{ "COOKIES_2" | translate }}
      </p>
      <p>
        {{ "COOKIES_3" | translate }}
      </p>
      <p>
        <a href="https://policies.google.com/privacy?hl=en-US">{{
          "COOKIES_4" | translate
        }}</a>
        <br />
        <a href="https://tools.google.com/dlpage/gaoptout">{{
          "COOKIES_5" | translate
        }}</a>
      </p>
      <h4>{{ "DATA_TRANSMISSION" | translate }}</h4>
      <p>
        {{ "DATA_TRANSMISSION_2" | translate }}
      </p>
      <h4>{{ "DATA_SECURTITY" | translate }}</h4>
      <p>
        {{ "DATA_SECURITY_2" | translate }}
      </p>
      <h4>{{ "OUTSIDE_LINK" | translate }}</h4>
      <p>
        {{ "OUTSIDE_LINK_2" | translate }}
      </p>
      <h3>{{ "COPYRIGHT_TRADEMARK" | translate }}</h3>
      <p>{{ "COPYRIGHT_TRADEMARK_2" | translate }}</p>
      <h3>{{ "TRADEMARK" | translate }}</h3>
      <p>
        {{ "TRADEMARK_2" | translate }}
      </p>
      <p>
        {{ "TRADEMARK_3" | translate }}
      </p>
      <p>{{ "TRADEMARK_4" | translate }}</p>
      <h3>CONTACT</h3>
      <p>
        {{ "CONTACT_2" | translate }}
      </p>
    </div>
  </div>
</div>
