<header mat-dialog-title>
    <p>{{ "SUBMISSION_RULES" | translate }}.<br />
        {{ "CONTACT_BROKER" | translate }} <span class="highlight">{{ broker.phone }}</span></p>
</header>

<mat-dialog-content>
    <div *ngFor="let title of data.broker.market.exclusions[lang].sections">
        <h3>{{ title }}</h3>
        <ul>
            <li *ngFor="let rule of data.broker.market.exclusions[lang].rules[title]">{{ rule }}</li>
        </ul>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button class="btn-april" (click)="close()">{{ "UNDERSTAND" | translate }}</button>
</mat-dialog-actions>