<!-- SELECT UNIQUE/MULTIPLE WITH MORE THAN 10 CHOICES-->
<div class="container" *ngIf="question.responses.length > 10" [ngClass]="{'error-border':error &&
  (control.isDirty || control.isTouched || control.isSubmitted)}">
  <div class="open-dialog-btn">
    <button class="add" type="button" (click)="openMultiSelectDialog()" mat-mini-fab color="basic">
      <mat-icon>add</mat-icon>
    </button>
    <mat-label>{{ language.get() == "fr" ? question.title.LabelFr : question.title.LabelEn }}</mat-label>
  </div>

  <mat-chip-list #chipList *ngIf="selectedOptions.length > 0">
    <mat-chip *ngFor="let opt of selectedOptions" (removed)="remove(opt.id)">
      <small>{{ language.get() == "fr" ? opt.label.LabelFr : opt.label.LabelEn }}</small>
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
  </mat-chip-list>
  <input type="hidden" [ngrxFormControlState]="control" />
</div>

<!-- SELECT UNIQUE/MULTIPLE WITH LESS THAN 10 CHOICES-->
<ng-container *ngIf="question.responses.length <= 10">
  <label>{{ language.get() == "fr" ? question.title.LabelFr: question.title.LabelEn }}</label> 
  <button type="button" class="button-tooltip" placement="top" [ngbTooltip]="tipContent" tooltipClass="tooltip">
    ?
  </button>
  <div class="select-single container" [ngClass]="{'error-border':error &&
  (control.isDirty || control.isTouched || control.isSubmitted)}">
    <mat-chip-list>
      <app-chip *ngFor="let option of question.responses" (click)="select(option)" [selected]="isSelected(option.id)">
        {{ language.get() == "fr" ? option.label.LabelFr : option.label.LabelEn }}
      </app-chip>
    </mat-chip-list>
    <input type="hidden" [ngrxFormControlState]="control" />
  </div>
</ng-container>
<ng-template #tipContent>
  <ul>
  <li>This</li>
  <li>is a</li>
  <li>tooltip</li>
</ul>
</ng-template>
