.input-field {
  width: 100%;
  max-width: 900px;
}

.open-dialog-btn {
  padding: 1rem;
  padding-left: 0;
}

.add {
  margin-right: 1rem;
}

.container {
  background-color: #f1f1f1 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5rem;
}

.button-select {
  padding: 10px 20px;
  margin-right: 1.5rem;
}

.button-select>span {
  word-wrap: break-word;
}

.select-single {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  padding: 1rem;
}

mat-label {
  color: var(--mainColor);
  font-family: 'Roboto';
}

label {
  font-weight: 300 !important;
}

.button-tooltip{
  color:2px solid var(--mainColor);
  border: 2px solid var(--mainColor);

  &:hover{
    color:2px solid var(--mainColor);
  }
}

.tooltip .tooltip-inner{
  padding:1rem;
  background-color: var(--mainColor);
  opacity: 1;
  max-width: 90vw;

  ul{
    list-style: none;
    padding-left: 0px;
  }
}