.input-field {
  width: 100%;
  max-width: 900px;
}

.open-dialog-btn {
  padding: 1rem;
  padding-left: 0;
}

.add {
  margin-right: 1rem;
}

.container {
  background-color: #f1f1f1 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.5rem;
}

.button-select {
  padding: 10px 20px;
  margin-right: 1.5rem;
}

.button-select>span {
  word-wrap: break-word;
}

.select-single {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  padding: 1rem;
}

mat-label {
  color: var(--mainColor);
  font-family: 'Roboto';
}

label {
  font-weight: 300 !important;
}