.product {
  margin-left: 70px;
  &:hover {
    text-decoration: underline;
  }

  a {
    color: var(--mainColor);
  }
}

.subsection {
  margin-left: 70px;
}

h2:hover {
  text-decoration: underline;
}
