<div class="wrapper flash-form" *ngIf="formState$ | async as formState">
  <!-- <div class="d-flex align-items-start">
    <img src="../../../../assets/img/icons/title-bar.svg" class="pt-2 pe-2 title-bar d-none d-sm-block"
      alt="title bar" />
    <h3 class="mb-2">{{ "GET_QUOTE" | translate }}</h3>
  </div> -->

  <!-- DYNAMIC FORM -->
  <form [ngrxFormState]="formState" (submit)="submit()">

    <app-section [progress]="progress" [formValid$]="formValid$" [formSubmitted$]="formSubmitted$">
      <div *ngIf="activeSection.id && !activeSection.isPrime">
        <div *ngFor="let group of formState.controls[activeSection.id].controls; let i = index; trackBy:customTrackBy">
          <header class="groupSection-header" *ngIf="activeSection.isRepeat">
            <h2>{{ language.get() == "fr" ? activeSection.title.LabelFr.slice(0, -1) :
              activeSection.title.LabelEn.slice(0, -1) }} {{ i + 1 }}</h2>
            <button type="button"
              class="button-icon-small button-red d-flex align-items-center justify-content-center text-button-simple"
              (click)="removeGroupSection(activeSection.id, i)" *ngIf="i > 0">
              <mat-icon
                style="color:#ee3629; font-size:20px !important; width:20px !important; height:20px !important;">clear
              </mat-icon>
            </button>
          </header>

          <ng-container *ngFor="let question of questionsBySection; let j = index; trackBy:customTrackByTwo">
            <div *ngIf="formState.controls[activeSection.id].controls[i].controls[question.id]">
              <!-- QUESTION BASE -->
              <app-question-base [question]="question"
                [control]="formState.controls[activeSection.id].controls[i].controls[question.id]"
                [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_' + i] && (errors$ | async)['_' + activeSection.id]['_' + i]['_' + question.id]">

                <app-error [control]="formState.controls[activeSection.id].controls[i].controls[question.id]"
                  [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_' + i] && (errors$ | async)['_' + activeSection.id]['_' + i]['_' + question.id]">
                </app-error>
              </app-question-base>
            </div>
          </ng-container>
        </div>
      </div>

      <!-- PRIME -->
      <section *ngIf="activeSection.id && activeSection.isPrime && broker.marketId === '28'">
        <!-- PRIME AMOUNT -->
        <div class="prime">
          <div class="prime__result">
            <h2>{{ (prime$ | async)?.applicantName }}, <br />votre prime estimée s'élève à</h2>
            <div class="prime__result--amount">
              <span class="highlight big">{{(prime$ | async)?.prime }} $</span>/ année + taxes*
            </div>
            <small>*Cette estimation est basée sur les informations que vous nous avez fournies. Elle est sujette à
              modification durant la collecte d'informations complémentaires.</small>
          </div>

          <!-- PRIME DETAILS -->
          <div *ngFor="let p of (prime$ | async)?.data" class="prime__details">
            <h2>{{ p.vehicle }} <br />VOS PROTECTIONS</h2>
            <ul class="prime__details-list">
              <li class="prime__details-list-item">
                <span>Responsabilité civile</span>
                <span class="highlight">{{ p['LIABILITY'] }} $</span>
              </li>
              <li class="prime__details-list-item">
                <span>Risques de collision et de renversement</span>
                <span class="highlight">{{ p['B2'] }} $</span>
              </li>
              <li class="prime__details-list-item">
                <span>
                  Tous les risques sauf collision ou renversement</span>
                <span class="highlight">{{ p['B3'] }} $</span>
              </li>
              <li class="prime__details-list-item">
                <span>Assurance décès et mutilation</span>
                <span class="highlight">{{ p['FAQ34'] }} $</span>
              </li>
              <li class="prime__details-list-item">
                <span>Responsabilité civile du fait de dommages causés à des véhicules dont l'assuré désigné n'est pas
                  propriétaire</span>
                <span class="highlight">{{ p['FAQ20'] }} $</span>
              </li>
              <li class="prime__details-list-item">
                <span>Frais de déplacement</span>
                <span class="highlight">{{ p['FAQ27'] }} $</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- PRIME CONTACT -->
        <div class="contact">
          <p>Nous vous contacterons sous peu pour finaliser votre demande.</p>
          <p>Pour parler à un agent maintenant:</p>
          <a class="contact__phone" href="tel: 1 888 482-6379">1 888 482-6379</a>
          <div>
            Nos bureaux sont ouverts:
            <ul class="contact__hours">
              <li>du lundi au vendredi de 8h à 20h</li>
              <li>le samedi de 9h30 à 16h</li>
            </ul>
          </div>
        </div>
      </section>
    </app-section>

    <div *ngIf="!activeSection.isPrime" class="section-buttons">
      <!-- PREVIOUS -->
      <button type="button" *ngIf="!activeSection.isFirst" class="btn-april" (click)="setActiveSection(-1)">
        {{ "BACK" | translate }}
      </button>

      <!-- NEXT -->
      <button type="button" *ngIf="!activeSection.isLast" class="btn-april next" (click)="setActiveSection(1)">
        {{ "NEXT" | translate }}
      </button>

      <!-- SUBMIT -->
      <button *ngIf="activeSection.isLast" class="btn-april" type="submit" data-analytics="DirectForm"
        [disabled]="!(formValid$ | async) && (formSubmitted$ | async)">
        {{ "SUBMIT_QUOTE" | translate }}
      </button>
    </div>

  </form>

</div>