<div class="wrapper flash-form" *ngIf="formState$ | async as formState">
  <img class="logo align-self-start" *ngIf="broker"
    src="{{'https://firebasestorage.googleapis.com/v0/b/april-canada-c5f17.appspot.com/o/' + logo + '?alt=media'}}" />

  <span *ngIf="broker.name !== 'April'" class="navbar-toggler-icon align-self-end lang-form">
    <a class="" (click)="this.language.switch()">{{
      "LANG" | translate
      }}</a>
  </span>
  <div class="d-flex align-items-start">
    <img src="../../../../assets/img/icons/title-bar.svg" class="pt-2 pe-2 title-bar d-none d-sm-block"
      alt="title bar" />
    <h3 class="mb-2">{{ "GET_QUOTE" | translate }}</h3>
  </div>

  <!-- DYNAMIC FORM -->
  <!-- <form *ngIf="!submittingForm" [ngrxFormState]="formState" (submit)="submit()"> -->
  <form *ngIf="!submittingForm" [ngrxFormState]="formState">

    <app-section>
      <!-- loop over each array section and get index of each group section  -->
      <!-- <div
        *ngFor="let groupSection of formState.value[activeSection.id]; let iSectionGroup = index; trackBy:customTrackBy">
        <h2>section group {{ iSectionGroup + 1 }}</h2> -->

      <!-- <ng-container *ngFor="let question of questionsBySection"> -->
      <div *ngIf="activeSection.id">
        <div *ngFor="let group of formState.controls[activeSection.id].controls; let i = index; trackBy:customTrackBy">
          <h2>Section {{ i + 1 }}</h2>
          <ng-container *ngFor="let question of questionsBySection">

            <div *ngIf="formState.controls[activeSection.id].controls[i].controls[question.id]">
              <!-- QUESTION BASE -->
              <app-question-base [question]="question"
                [control]="formState.controls[activeSection.id].controls[i].controls[question.id]"
                [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_' + i]['_' + question.id]">
                <app-error [control]="formState.controls[activeSection.id].controls[i].controls[question.id]"
                  [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_' + i]['_' + question.id]">
                </app-error>
              </app-question-base>
            </div>

          </ng-container>
        </div>
      </div>

      <!-- </ng-container> -->

      <!-- </div> -->
    </app-section>

    <!-- <button class="btn-april" type="submit" data-analytics="DirectForm"
      [disabled]="!(formValid$ | async) && (formSubmitted$ | async)">
      {{ "SEND" | translate }}
    </button> -->
  </form>

</div>