<div class="wrapper flash-form" *ngIf="formState$ | async as formState">
  <img class="logo align-self-start" *ngIf="broker"
    src="{{'https://firebasestorage.googleapis.com/v0/b/april-canada-c5f17.appspot.com/o/' + logo + '?alt=media'}}" />

  <span *ngIf="broker.name !== 'April'" class="navbar-toggler-icon align-self-end lang-form">
    <a class="" (click)="this.language.switch()">{{
      "LANG" | translate
      }}</a>
  </span>
  <div class="d-flex align-items-start">
    <img src="../../../../assets/img/icons/title-bar.svg" class="pt-2 pe-2 title-bar d-none d-sm-block"
      alt="title bar" />
    <h3 class="mb-2">{{ "GET_QUOTE" | translate }}</h3>
  </div>

  <!-- DYNAMIC FORM -->
  <form *ngIf="!submittingForm" [ngrxFormState]="formState" (submit)="submit()">

    <ng-container *ngFor="let question of questionsBySection">
      <div
        *ngFor="let group of formState.controls[this.activeSection.sectionId].controls; let i = index; trackBy:customTrackBy">
        <div *ngIf="formState.controls[this.activeSection.sectionId].controls[i].controls[question.id]">

          <app-question-base [question]="question"
            [control]="formState.controls[this.activeSection.sectionId].controls[i].controls[question.id]">
            <!-- ERRORS -->
            <app-error 
              [control]="formState.controls[this.activeSection.sectionId].controls[i].controls[question.id]"
              [error]="(errors$ | async)['_' + this.activeSection.sectionId]['_0']['_' + question.id]">
            </app-error>
          </app-question-base>
        </div>
      </div>
    </ng-container>

    <button class="btn-april" type="submit" data-analytics="DirectForm"
      [disabled]="!(formValid$ | async) && (formSubmitted$ | async)">
      {{ "SEND" | translate }}
    </button>
  </form>

</div>