@media screen and (max-width: 576px) {
  h1 {
    font-size: 24px !important;
  }
}
.thumb {
  max-width: 70px;
  object-fit: contain;
}

a{
  color: #004161;
  text-decoration: underline !important;
}
a:hover{
  font-weight: bold;
}
