<mat-error
  @fadeSlideInOut
  *ngIf="
    error?.required &&
    (control.isDirty || control.isTouched || control.isSubmitted)
  "
>
  <small>{{ "REQUIRED" | translate }}</small>
</mat-error>

<mat-error
  @fadeSlideInOut
  *ngIf="
    error?.email &&
    (control.isDirty || control.isTouched || control.isSubmitted)
  "
>
  <small>{{ "EMAIL_VALIDATION" | translate }}</small>
</mat-error>

<mat-error
  @fadeSlideInOut
  *ngIf="
    error?.pattern &&
    (control.isDirty || control.isTouched || control.isSubmitted)
  "
>
  <small>{{ "PATTERN" | translate }}</small>
</mat-error>

<mat-error
  @fadeSlideInOut
  *ngIf="error?.exclusion &&
  (control.isDirty || control.isTouched || control.isSubmitted)"
>
  <small>{{error?.exclusion.errorMessageInput | translate}}</small>
</mat-error>

<mat-error @fadeSlideInOut *ngIf="
    error?.unfilledRepartition &&
    (control.isDirty || control.isTouched || control.isSubmitted)
  ">
  <small>{{ "ALLOCATION" | translate }}</small>
</mat-error>

<mat-error @fadeSlideInOut *ngIf="
    error?.valRep &&
    (control.isDirty || control.isTouched || control.isSubmitted)
  ">
  <small>{{ "DISTRIBUTION" | translate }}</small>
</mat-error>