.table {
  width: 100%;
  margin-bottom: 3rem;
}

.table-input {
  background-color: rgb(240, 237, 237);
  border-radius: 10px;
  max-width: 50px;
  height: 40px;

  &:focus {
    background-color: rgb(221, 219, 219);
  }
}

tr.mat-footer-row {
  font-weight: bold;
}

tr.mat-row,
th.mat-header-cell,
tr.mat-footer-row {
  vertical-align: middle;
}

.mat-cell:last-of-type,
.mat-header-cell:last-of-type,
.mat-footer-cell:last-of-type {
  text-align: center;
  vertical-align: middle;
}

th {
  color: rgb(63, 63, 63);
  font-size: 14px;
}

.table-input {
  text-align: center;
}


// //
input {
  height: 20px;
}

.repartition {
  width: 60px;
}

.repartition-card {
  width: 100px;
}

.row-background:nth-child(odd) {
  border-radius: 8px;
  background-color: #f1f1f1 !important;
}

.row-background:nth-child(even) {
  border-radius: 8px;
  background-color: #f1f1f1 !important;
}

.row-background {
  padding: 0.3rem 1rem;
  margin-bottom: 0.5rem;
}