<div class="uploaded-files-overlay d-flex flex-column text-form p-3">
    <div class="d-flex justify-content-between">
        <span class="text-title">{{ 'UPLOADED_FILES' | translate }}</span>
        <mat-icon style="cursor: pointer; width:30px;" (click)="close()">close</mat-icon>
    </div>
    <div class="d-flex flex-grow-1 flex-column required mt-3">

        <ng-container>
            <div class="d-flex flex-column">
                <div *ngFor="let file of uploadedFiles" class="mt-2">
                    <app-file-card [file]="file"></app-file-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>