.uploaded-files-overlay {
    max-height: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
    min-width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    flex: 1 0 100% !important;
    color: #004161 !important;
}

.required {
    min-height: 200px;
    height: auto;
    width: auto;
    flex-grow: 1 0 200px;
    max-height: 100% !important;
    overflow-y: auto;
}