<div class="wrap" [ngSwitch]="question.type">
  <div *ngSwitchCase="'TEXT'">
    <app-input [question]="question" [control]="control"></app-input>
  </div>

  <div *ngSwitchCase="'TEXTAREA'">
    <app-textarea [question]="question" [control]="control"></app-textarea>
  </div>

  <div *ngSwitchCase="'BOOLEAN'">
    <app-boolean [question]="question" [control]="control"></app-boolean>
  </div>

  <div *ngSwitchCase="'DATE'">
    <app-date [question]="question" [control]="control"></app-date>
  </div>

  <div *ngSwitchCase="'FILE'">
    <app-file [question]="question" [control]="control"></app-file>
  </div>


  <div *ngSwitchCase="'IDENTIFICATION'">
    <app-identification [question]="question" [control]="control"></app-identification>
  </div>

  <div *ngSwitchCase="'RECLAMATION'">
    <app-reclamation [question]="question" [control]="control"></app-reclamation>
  </div>

  <div *ngSwitchCase="'AUTO'">
    <app-auto [question]="question" [control]="control"></app-auto>
  </div>

  <div *ngSwitchCase="'NUMBER'">
    <app-input [question]="question" [control]="control"></app-input>
  </div>

  <div *ngSwitchCase="'ADDRESS'">
    <app-address [question]="question" [control]="control"></app-address>
  </div>

  <div *ngSwitchCase="'MULTIPLE'">
    <app-select [question]="question" [control]="control"></app-select>
  </div>

  <div *ngSwitchCase="'SELECT'">
    <app-select [question]="question" [control]="control"></app-select>
  </div>

  <div *ngSwitchCase="'REPARTITION'">
    <app-repartition
      [question]="question"
      [control]="control"
    ></app-repartition>
  </div>
    <ng-content></ng-content>
</div>
