<section class="prime-section">
  <div class="prime-box">

    <h1 class="prime-header" [innerHTML]="'ESTIMATED' | translate"></h1>


    <p class="prime-box__prime">
      <span class="heading prime-box__prime--highlight">188,17</span><span>$</span> / {{ "MONTH_TAXES" | translate }}
    </p>
    <p>{{ "CONTACT_SOON" | translate }}<br />
      {{ "MORE_INFO" | translate }}</p>
    <p class="prime-box__phone">1 855 745-2020</p>
  </div>

  <div class="more-info">
    <p class="more-info__header">D'autres protections, frais et rabais peuvent s'appliquer.</p>
    <p>{{ "ESTIMATION" | translate }}</p>
  </div>
</section>