<div class="container pb-100">
  <div class="row">
    <div class="col-md-6 d-none d-md-block">
      <div class="h-100 position-relative">
        <img
          class="title-sticker"
          src="../../../../assets/img/contact/stickers.png"
          alt="APRIL sticker"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex align-items-center w-80 mb-5 pb-5">
        <h2 class="ms-2 ms-sm-5 title-underline">{{ "OR_BDM" | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="row ps-md-5 ms-xl-5">
    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/quebec.svg"
        alt=""
        class="prov-sticker"
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Mathieu Pelletier</div>
        <div>{{ "BDM" | translate }}<br />{{ "BDM_FOR_QC" | translate }}</div>
        <a href="mailTo:mathieu.pelletier@april.ca"
          >mathieu.pelletier@april.ca</a
        >
        <div>514-246-7717</div>
        <div>T.: {{ "PHONE_NUMBER" | translate }} | Ext: 1264</div>
      </div>
    </div>
    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/alberta.svg"
        alt=""
        class="prov-sticker"
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Tracey Paish</div>
        <div>{{ "BDM" | translate }}<br />{{ "BDM_FOR_WEST" | translate }}</div>
        <a href="mailTo:tracey.paish@april.ca">tracey.paish@april.ca</a>
        <div>403-464-8901</div>
        <div>T.: {{ "PHONE_NUMBER" | translate }} | Ext: 4207</div>
      </div>
    </div>
    <!-- <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img src="../../../../../assets/img/contact/ontario.svg" alt="" />
      <div class="ps-5 w-80">
        <div class="fw-bold">Kristina Snelgrove</div>
        <div>{{ "BDM" | translate }}<br />{{ "BDM_FOR_ON" | translate }}</div>
        <div>kristina.snelgrove@april.ca</div>
        <div>416-455-7850</div>
        <div>T.: {{ "PHONE_NUMBER" | translate }} | Ext: 3421</div>
      </div>
    </div> -->
    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/marine.svg"
        class="prov-sticker"
        alt=""
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Camille Arian-Dupuis</div>
        <div>
          {{ "BDM" | translate }}<br />{{ "BDM_FOR_MARINE" | translate }} -
          Ontario
        </div>
        <a href="mailTo:camille.arian@april.ca">camille.arian@april.ca</a>
        <div>416-475-3340</div>
        <div>T.: {{ "PHONE_NUMBER" | translate }} | Ext: 1275</div>
      </div>
    </div>
    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/marine.svg"
        class="prov-sticker"
        alt=""
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Stephan Bernard</div>
        <div>
          {{ "BDM" | translate }}<br />{{ "BDM_FOR_MARINE" | translate }} -
          Québec
        </div>
        <a href="mailTo:stephan.bernard@april.ca">stephan.bernard@april.ca</a>
        <div>514-506-4581</div>
        <div>T.: {{ "PHONE_NUMBER" | translate }} | Ext: 1206</div>
      </div>
    </div>
  </div>
</div>
