<div class="container pb-100">
  <div class="row">
    <div class="col-md-6 d-none d-md-block">
      <div class="h-100 position-relative">
        <img
          class="title-sticker"
          src="../../../../assets/img/contact/stickers.png"
          alt="APRIL sticker"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex align-items-center w-80 mb-5 pb-5">
        <h2 class="ms-2 ms-sm-5 title-underline">{{ "OR_BDM" | translate }}</h2>
      </div>
    </div>
  </div>
  <div class="row ps-md-5 ms-xl-5">
    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/quebec.svg"
        alt=""
        class="prov-sticker"
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Stéphane Videira</div>
        <div>{{ "BDM_ADVISOR" | translate }}<br/>{{ "BDM_AD_QC" | translate }}</div>
        <a href="mailTo:developpement@april.ca">developpement@april.ca</a>
        <div>T.: +1 (514) 789-2399 | Ext: 2000</div>
      </div>
    </div> 

    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img src="../../../../../assets/img/contact/trillium.svg" alt="" class="prov-sticker"/>
      <div class="ps-5 w-80">
        <div class="fw-bold">Feodor Ploujnikov</div>
        <div>{{ "BDM" | translate }}<br />{{ "BDM_FOR_WEST" | translate }}</div>
        <a href="mailTo:feodor.ploujnikov@april.ca">feodor.ploujnikov@april.ca</a>
        <!-- <div>416-455-7850</div> -->
        <div>T.: +1 (647) 459-9345</div>
      </div>
    </div>

    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/marine.svg"
        class="prov-sticker"
        alt=""
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Stephan Bernard</div>
        <div>
          {{ "BDM" | translate }}<br />{{ "BDM_FOR_MARINE" | translate }} -
          Quebec
        </div>
        <a href="mailTo:stephan.bernard@april.ca">stephan.bernard@april.ca</a>
        <div>514-506-4581</div>
        <div>T.: {{ "PHONE_NUMBER_QC" | translate }} | Ext: 1206</div>
      </div>
    </div>

    <div
      class="col-md-6 d-flex justify-content-center mb-5"
      data-analytics="ContactBDM"
    >
      <img
        src="../../../../../assets/img/contact/trillium.svg"
        alt=""
        class="prov-sticker"
      />
      <div class="ps-5 w-80">
        <div class="fw-bold">Taylor Bennett</div>
        <div>{{ "BDM" | translate }}<br />{{ "BDM_FOR_WEST" | translate }}</div>
        <a href="mailTo:taylor.bennet@april.ca">taylor.bennet@april.ca</a>
        <div>T.: +1 (416) 676-4407</div>
      </div>
    </div>


  </div>
</div>
