<div class="bg-optional ptb-70 job-offers" id="jobs">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 p-5">
        <h2>{{ "BROWSE_OFFER" | translate }}</h2>
        <p class="pb-5 pt-3">{{ "OFFERS_DETAILS" | translate }}</p>
        <app-job-list></app-job-list>
        <div class="row"></div>
      </div>
      <div
        class="
          col-lg-4
          d-none d-lg-flex
          justify-content-between
          alig-items-center
          ps-md-5
        "
      >
        <img
          style="width: 100%; overflow-y: visible; object-fit: contain"
          src="../../../../../assets/img/career/stickers.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
