<!-- Modal -->
<div class="submission">
  <div
    class="modal-header mx-0 mx-sm-3 py-0 mt-4 d-flex justify-content-center"
  >
    <h2 class="m-0 text-center">{{ "WHAT_PROVINCE" | translate }}</h2>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-around px-0 px-sm-4">
      <button
        class="btn-april btn-april-full-green px-4 me-2"
        data-analytics="DirectProvince"
        click-text="Québec"
        (click)="setProvince('QC')"
      >
        {{ "QC" | translate }}
      </button>
      <button
        class="ms-2 btn-april btn-april-white px-4"
        data-analytics="DirectProvince"
        (click)="setProvince('ON')"
        click-text="Canada"
      >
        {{ "OUTSIDE_QC" | translate }}
      </button>
    </div>
  </div>
</div>
