<div class="d-flex flex-column">

    <!-- input autocomplete -->
    <div [ngClass]="{'d-none':addressAutoCompleteHidden, 'input-group':!addressAutoCompleteHidden}">
        <div class="input-group-prepend"><span class="input-group-text">
                <mat-icon>search</mat-icon>
            </span></div>
        <input class="form-control text-form" [matAutocomplete]="auto" [required]="question.isRequired"
            #inputAutoComplete placeholder="Start writing" [ngrxFormControlState]="(group$ | async)['search']">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event.option.value)">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.locationId">
                    {{ getAddressLabel(suggestion) }}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </div>

    <!-- btn to show empty form -->
    <span (click)="showEmptyForm()" *ngIf="!addressAutoCompleteHidden"
        style="text-decoration: underline; cursor: pointer;">
        Can't find your address?
    </span>

    <!-- address form -->
    <div *ngIf="showAddressForm"
        [ngClass]="{'d-none':!addressAutoCompleteHidden, 'd-flex flex-column':addressAutoCompleteHidden}">
        <div class="container text-form" style="padding:0 !important;">
            <div class="row">
                <div class="col-3">
                    <div class="d-flex flex-column justify-content-center">
                        <span>House number</span>
                        <div class="input-group mb-1" tabindex="1">
                            <input class="form-control" [ngrxFormControlState]="(group$ | async)['houseNumber']"
                                [required]="question.isRequired" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-9">
                    <div class="d-flex flex-column justify-content-center">
                        <span>Street</span>
                        <div class="input-group mb-1" tabindex="2">
                            <input class="form-control" [ngrxFormControlState]="(group$ | async)['street']"
                                [required]="question.isRequired" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="d-flex flex-column justify-content-center">
                    <span>City</span>
                    <div class="input-group mb-1" tabindex="3">
                        <input class="form-control" [ngrxFormControlState]="(group$ | async)['city']"
                            [required]="question.isRequired" type="text">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column justify-content-center">
                    <span>Unit</span>
                    <div class="input-group mb-1" tabindex="3">
                        <input #unit class="form-control" type="text" [ngrxFormControlState]="(group$ | async)['unit']">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="d-flex flex-column justify-content-center">
                    <span>Province</span>
                    <div class="input-group mb-1" tabindex="3">
                        <mat-select class="form-control" [ngrxFormControlState]="(group$ | async)['state']"
                            [required]="question.isRequired">
                            <mat-option *ngFor="let p of ['AB', 'BC','MB','ON','QC','SK']" value="{{ p }}">
                                {{ p }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center">
                    <span>Postal Code</span>
                    <div class="input-group mb-1" tabindex="3">
                        <input class="form-control" mask="S0S 0S0"
                            [ngrxFormControlState]="(group$ | async)['postalCode']" [required]="question.isRequired"
                            type="text">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <!-- <span class="text-form text-error mt-2" *ngIf="error">{{ 'ERROR_FILL_ALL_ANSWER' | translate }}</span> -->
            <span (click)="resetAddress()" *ngIf="addressAutoCompleteHidden"
                style="text-decoration: underline; cursor: pointer;">
                Wrong address
            </span>
        </div>

    </div>