<div class="d-flex flex-column" *ngIf="group$ | async as group">
    <!-- <mat-label>{{ language.get() == "fr" ? question.title.LabelFr: question.title.LabelEn }}</mat-label> -->
    <label for="{{control.id}}">{{ language.get() == "fr" ? question.title.LabelFr: question.title.LabelEn}}</label>
    <!-- input autocomplete -->
    <div [ngClass]="{'d-none':addressAutoCompleteHidden, 'input-group':!addressAutoCompleteHidden}">
        <div class="input-group">
            <span class="input-group-text">
                <mat-icon>search</mat-icon>
            </span>
            <input class="form-control text-form" [matAutocomplete]="auto"
                #inputAutoComplete placeholder="{{ 'START_TYPING_ADDRESS' | translate }}"
                [ngrxFormControlState]="(group)['search']">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event.option.value)">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.locationId">
                        {{ getAddressLabel(suggestion) }}
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </div>
    </div>

    <!-- btn to show empty form -->
    <span (click)="showEmptyForm()" *ngIf="!addressAutoCompleteHidden"
        style="text-decoration: underline; cursor: pointer;">
        {{ 'MISSING_ADDRESS' | translate }}
    </span>

    <!-- address form -->
    <div *ngIf="showAddressForm"
        [ngClass]="{'d-none':!addressAutoCompleteHidden, 'd-flex flex-column':addressAutoCompleteHidden}">
        <div class="container text-form mt-3" style="padding:0 !important;">
            <div class="row">
                <div class="col-3">
                    <div class="d-flex flex-column justify-content-center">
                        <span>{{ 'HOUSE_NUMBER' | translate}}</span>
                        <div class="input-group mb-1" tabindex="1">
                            <input class="form-control"
                                [ngrxFormControlState]="group && group['MailingAddress-StreetNumber']"
                                type="text">
                        </div>
                        <app-error [control]="(group)['MailingAddress-StreetNumber']"
                        [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id]['_MailingAddress-StreetNumber']">
                        </app-error>
                    </div>
                </div>

                <div class="col-9">
                    <div class="d-flex flex-column justify-content-center">
                        <span>{{ 'STREET' | translate}}</span>
                        <div class="input-group mb-1" tabindex="2">
                            <input class="form-control"
                                [ngrxFormControlState]="group && group['MailingAddress-Street']"
                                type="text">
                        </div>
                        <app-error [control]="(group)['MailingAddress-Street']"
                            [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id]['_MailingAddress-Street']">
                        </app-error>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="d-flex flex-column justify-content-center">
                    <span>{{ 'CITY' | translate}}</span>
                    <div class="input-group mb-1" tabindex="3">
                        <input class="form-control" [ngrxFormControlState]="(group)['MailingAddress-City']"
                         type="text">
                    </div>
                    <app-error [control]="group && group['MailingAddress-City']"
                        [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id]['_MailingAddress-City']">
                    </app-error>
                </div>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column justify-content-center">
                    <span>{{ 'APT_OTHER' | translate}}</span>
                    <div class="input-group mb-1" tabindex="3">
                        <input #unit class="form-control" type="text"
                            [ngrxFormControlState]="group && group['MailingAddress-Unit']">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="d-flex flex-column justify-content-center">
                    <span>Province</span>
                    <div class="input-group mb-1" tabindex="3">
                        <mat-select class="form-control" [required]="question.isRequired"
                            [ngrxFormControlState]="group && group['MailingAddress-Province']">
                            <mat-option *ngFor="let p of ['AB', 'BC','MB','ON','QC','SK']" value="{{ p }}">
                                {{ p }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <app-error [control]="(group)['MailingAddress-Province']"
                        [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id]['_MailingAddress-Province']">
                    </app-error>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center">
                    <span>{{ 'POSTAL_CODE' | translate }}</span>
                    <div class="input-group mb-1" tabindex="3">
                        <input class="form-control" mask="S0S 0S0"
                            [ngrxFormControlState]="group && group['MailingAddress-PostalCode']"
                            type="text">
                    </div>
                    <app-error [control]="(group)['MailingAddress-PostalCode']"
                        [error]="(errors$ | async)['_' + activeSection.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id] && (errors$ | async)['_' + activeSection.id]['_0']['_' + question.id]['_MailingAddress-PostalCode']">
                    </app-error>
                </div>
            </div>
        </div>

        <div>
            <!-- <span class="text-form text-error mt-2" *ngIf="error">{{ 'ERROR_FILL_ALL_ANSWER' | translate }}</span> -->
            <span (click)="resetAddress()" *ngIf="addressAutoCompleteHidden"
                style="text-decoration: underline; cursor: pointer;">
                {{ 'WRONG_ADDRESS' | translate }}
            </span>
        </div>

    </div>