<div class="container my-lg-5 py-5 px-4">
  <h3>
    {{ "OUR_EXTENSIONS_1" | translate }}
    <span>{{ "OUR_EXTENSIONS_2" | translate }}</span
    ><br />
    {{ "OUR_EXTENSIONS_3" | translate }}
  </h3>

  <p>
    {{ "OUR_EXTENSIONS_DEF" | translate }}
  </p>
  <ul>
    <li>&nbsp;&nbsp;{{ "OUR_EXTENSIONS_LIST_1" | translate }}</li>
    <li>&nbsp;&nbsp;{{ "OUR_EXTENSIONS_LIST_2" | translate }}</li>
    <li>&nbsp;&nbsp;{{ "OUR_EXTENSIONS_LIST_3" | translate }}</li>
    <li>&nbsp;&nbsp;{{ "OUR_EXTENSIONS_LIST_4" | translate }}</li>
    <li>&nbsp;&nbsp;{{ "OUR_EXTENSIONS_LIST_5" | translate }}</li>
    <li>&nbsp;&nbsp;{{ "OUR_EXTENSIONS_LIST_6" | translate }}</li>
  </ul>

  <p innerHTML="{{ 'NEW_CONTRACTORS' | translate }}"></p>
</div>
