h3 {
  font-size: 36px !important;
  span {
    color: var(--orange);
  }
}
ul {
  list-style: none !important;
  padding-left: 0;
}

ul li:before {
  content: "✓";
  font-weight: bolder;
  color: var(--orange);
}
